@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Radio+Canada:wght@300&family=Roboto&display=swap');

:root{
    --green: #27ae60;
    --black : #333;
    --bg-color : #eee;
    --box-shadow:0.5rem 1rem rgb(0,0,0,.1);
    --border: 1rem solid var(var(--black))

}

*{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
outline: none;
border: none;
text-decoration: none;
text-transform: capitalize;

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

.container{
    max-width: 1200px;
    padding:  2rem;
    margin:  0 auto;

}
.admin-product-form-container{
 max-width: 50rem;
 margin:  0 auto;
 padding: 2rem;
 border-radius: .5rem;
 background: var(--bg-color );

}

.admin-product-form-container h3{
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2.5rem;
}
.admin-product-form-container form .box{
    width: 100%;
    border-radius: 0.5rem;
    padding: 1.2rem 1.5rem;
    font-size: 1.7rem;
    margin: 1rem 0;
    /* text-transform: none; */
    background: var(--bg-color);



}
/* .form{
    display: flex;
    flex-direction: column;
} */
.btn{
   display: block;
   width: 100%;
   cursor: pointer;
   border-radius: 0.5rem;
   margin-top: 1rem;
   font-size: 1.7rem;
   padding: 1rem 3rem;
   background: var(--green);
   color: var(--white);
   
}
.btn:hover{
    background: var(--black);
    color: var(--white);
}

.message{
    display: block;
    background: var(--bg-color);
    padding: 1.5rem 1rem;
    font-size: 2rem;
    color: var(--black);
    margin-bottom: 2rem;;

}




















@media (max-width:991px) {
    html{
        font-size: 55%;

    }
    
}
@media (max-width:450px) {
    html{
        font-size: 50%;
        
    }
    
}
